.tile {
   display: grid;
   place-content: center;
   width: 90px;
   height: 90px;
}


.white-tile {
   background-color: #ebecd0;
}

.black-tile {
   background-color: rgb(56, 179, 166);
}

.tile image {
   width: 100%;
   height: 100%;
}

.tile .chess-piece {
   width: 90px;
   height: 90px;
   background-repeat: no-repeat;
   background-position: center;
   /* background-size: 80px; */
}

.tile .chess-piece:hover {
   cursor: grab;
}

.tile .chess-piece:active {
   cursor: grabbing;
}