#chessboard {
   display: grid;
   grid-template-columns: repeat(8, 90px);
   grid-template-rows: repeat(8, 90px);
   width: 720px;
   height: 720px;
   background-color: blue;
}

#chessboard .tile {
   width: 90px;
   height: 90px;
}

